%h1= @idea.title
.container
  .well
    %p= raw @idea.body
    %p= @idea.created_at.strftime("%Y-%b-%d")
    / %p
    /   Vote count: #{@idea.vote_count}
    / %br
    - if @idea.discussions.any?
      Discussions (#{@idea.discussions.count}):
      = @idea.discussions.map(&:title).join(", ")
    %br
    / - if @vote.persisted? && @vote.is_up?
    /   = button_to "Undo", [@idea, @vote], method: :delete, class: "btn btn-primary"
    / - else
    /   = form_for [@idea, @vote] do |f|
    /     = f.hidden_field :is_up, value: true
    /     = f.submit "Vote Up", class: "btn btn-primary"
    / %br
    / - if @vote.persisted? && !@vote.is_up?
    /   = button_to "Undo", [@idea, @vote], method: :delete, class: "btn btn-primary"
    / - else
    /   = form_for [@idea, @vote] do |f|
    /     = f.hidden_field :is_up, value: false
    /     = f.submit "Vote Down", class: "btn btn-primary"
    / %br
    / -if can? :edit, @idea
    /   = link_to "Edit", edit_idea_path(@idea)
    / -if can? :destroy, @idea
    /   = button_to "Delete", @idea, method: :delete, data: {confirm: "Are you sure you want to delete the idea?"}
    / %br
    = link_to "Edit", edit_idea_path(@idea), class: "btn btn-warning"
    %br
    = button_to "Delete", @idea, method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure you want to delete this idea?"}
    %br
    %h2 Add Discussion
    - if @discussion.errors.any?
      %ul
        - @discussion.errors.full_messages.each do |message|
          %li= message
    / = form_for [@idea, @discussion] do |f| is the same as the next line
    = form_for [@idea, @discussion] do |f|
      = f.text_area :body
      %br
      = f.submit "Submit an discussion", class: "btn btn-success"
    %hr

    /.discussions= render @discussions
    / - @discussions.each do |discussion|
    /   = render "/discussions/discussion", discussion: discussion
    / the third line above is a shortcut for the next two lines. Note, the partial must be named in the singular of the variable passed.