.well
  .row
    .col-sm-8.col-md-8.col-xs-6
      %p
        = discussion.body.html_safe
        .well.well-sm
          = link_to "Add Comment", :comments, class: "add-comment"
          - discussion.comments.each do |c|
            %p= c.text_area :body, class: "tinymce", :rows => 4, :cols => 10
            %p Created on #{formatted_date(discussion.created_at)}
        .col-sm-4.col-md-4.col-xs-3
          .pull-right= button_to "Delete", idea_discussion_path(@idea, discussion), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure you want to delete this discussion"}
        .col-sm-4.col-md-4.col-xs-3
      = tinymce  


