%h1 Sign Up for a New Account
= simple_form_for @user, html: {class: "form-horizontal"}, remote: true do |f|
  .container
    = f.input :email
    = f.input :password
    = f.input :password_confirmation
    = f.fields_for :profile do |p|
      = p.input :first_name
      = p.input :last_name
      = p.input :linkedin
      = p.input :twitter
      = label_tag :remember_me
      = check_box_tag :remember_me, 1, params[:remember_me]    
    = f.submit "Sign Up", class: "btn btn-primary"

/ %h1 Hi Stranger! Lets get you signed up!
/ .container
/   .jumbotron
/     %h3 Sign Up
/     = simple_form_for @user do |f|
/       - if @user.errors.any?
/         .error_messages
/           %h2 Form is invalid
/           %ul
/             - @user.errors.full_messages.each do |message|
/               %li= message
/       .field
/         = f.label :email
/         %br/
/         = f.text_field :email
/       .field
/         = f.label :password
/         %br/
/         = f.password_field :password
/       .field
/         = f.label :password_confirmation
/         %br/
/         = f.password_field :password_confirmation
/       .field
/         = f.label :first_name
/         %br/
/         = f.text_field  :first_name
/       .field
/         = f.label :last_name
/         %br/
/         = f.text_field  :last_name
/       .field
/         = f.label :twitter
/         %br/
/         = f.text_field  :twitter
/       .field
/         = f.label :linkedin
/         %br/
/         = f.text_field :linkedin  
/       .field
/         = label_tag :remember_me
/         = check_box_tag :remember_me, 1, params[:remember_me]
/       .actions= f.submit "Sign Up"



/       .field
