%h1 Sign Up for a New Account
= simple_form_for @user, html: { class: 'form-horizontal' } do |f|
  .well.well-md
    = f.input :email, html_input: {class: "form-control"}
    = f.input :password
    = f.input :password_confirmation
    = f.fields_for :profile do |p|
      = p.input :first_name
      = p.input :last_name
      = p.input :linkedin
      = p.input :twitter
    = f.submit "Sign Up", class: "btn btn-primary"
